@import '../../variables.scss';

.statistics-container-component {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.statistics-container-component__title {
  text-align: center;
  padding: 0 0 16px;
}
