@import '../../variables.scss';

.statistics-container-component {
}

.statistics-container-component__title {
  text-align: center;
  padding: 0 0 16px;
}

.statistics-container-component__content {
  display: flex;
  justify-content: center;
}
