@import '../../variables.scss';

.flights-component {
  width: 128px;
  height: 128px;
  padding: 16px;
  margin: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  text-decoration: none;
  color: $gray-darker;

  border: thin solid $gray;
  border-radius: 50%;

  background-color: $gray-dark;
  box-shadow: 2px 2px 2px 2px $gray-darker;
  transition: all 0.3s ease-in-out;
}

.flights-component:hover {
  background-color: $gray;
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 5px 5px $gray-darker;
}

.flights-component__icon {
  font-size: 36pt;
}

.flights-component__label {
  font-size: 12pt;
}
