@import '../variables.scss';

.statistic-component {
  display: table-row;
}

.statistic-component__label,
.statistic-component__value,
.statistic-component__citation {
  display: table-cell;
  padding: 0 16px 8px;
}

.statistic-component__label {
  text-align: right;
}

.statistic-component__citation {
  color: $gray;
  text-decoration: none;
}
