@import '../variables.scss';

.statistics {
}

.statistics__title {
  text-align: center;
  padding: 16px;
}

.statistics__results {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.statistics__result {
  display: table-row;
}

.statistics__label,
.statistics__value,
.statistics__citation {
  display: table-cell;
  padding: 0 16px 8px;
}

.statistics__label {
  text-align: right;
}

.statistics__citation {
  color: $gray;
  text-decoration: none;
}
