@import '../variables.scss';

.header {
  background: $gray-darker;
  color: $gray-light;
}

.header__container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: $max-content-width;
  text-align: center;
}

.header__text {
  color: $gray-light;
}

.header__text--muted {
  color: $gray;
}

.header__spacer {
  color: $gray-dark;
}

.header__text,
.header__link {
  padding: 2px 5px;
  font-size: 1em;
}

.header__link,
.header__link:active,
.header__link:visited {
  color: $gray-light;
  text-decoration: none;
}

.header__link:hover {
  color: $gray-lighter;
}
